$black: #282828;
$point: #d93077;
$point-light: lighten($point, 5%);


$card_width: 550px;
$card_height: auto;
$card_padding: 20px;
$card-bgcolor: white;
$card_margin: 20px;
$card_round: 10px;
$card-shadow: -10px -10px 20px 0px $point-light;
$pointer: pointer;

$card-padding-basis: 15px;
$card_head_padding: 0px 0px $card-padding-basis 0px;

.container-f {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}


*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 80%;
  min-height: 50vh;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  margin-left: auto;
  margin-right: auto;
}

.center{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card{
  background-color: $card-bgcolor;
  width: $card_width;
  min-height: $card_height;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: $card_padding;
  margin: $card_margin;
  -webkit-box-shadow: $card-shadow;
  box-shadow: $card-shadow;
  border-radius: $card_round;
  -webkit-animation-name: shadow-show; 
  -webkit-animation-duration: 1.5s;
  animation-name: shadow-show;
  animation-duration: 1.5s;
  -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
  -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
  transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);

  
  h1,h2,h3,h4,h5{
    margin: 0px;
    padding: $card_head_padding;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: $black;
  }

  #infoLikesComments{
    padding: 5px 5px 5px 5px;
  }

  .p-left{
    float: left;
  }

  .p-right{
    float: right;
  }


  .borderLike{
    padding: 5px 5px 5px 5px;
    width: 46%;
    text-align: center;
  }

  .borderLike:hover{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background:#E1E2E1;
  }

  .borderComments{
    padding: 5px 5px 5px 5px;
    width: 49%;
    text-align: center;
  }

  .borderComments:hover{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background:#E1E2E1;
  }

  .circle{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #ff79b0;
  }

  .likeCont{
    padding-left: 25px;
  }
  
  p{
    margin: $card-padding-basis $card-padding-basis $card-padding-basis 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: $black;
    -webkit-animation-name: p-show; 
    -webkit-animation-duration: 1.5s;
    animation-name: p-show;
    animation-duration: 1.5s;
  }
  
  button{
    border: none;
    background-color: $point;
    width: 50%;
    margin: 10px auto;
    padding: 10px 30px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
  }

  .img-c{
      width: 30px;
      float: left;
  }


  .img-d{
    float: right;
  }

  .img-coments{
    width: 20px;
    float: left;
   }

  .userEmail{
    padding-left: 45px;
    color: #c60055;
  }

  .userEmailComents{
    padding-left: 8px;
    color: #c60055;
  }


  hr{
    display: block;
    border: none;
    height: 3px;
    background-color: $point;
    margin: 0px;
    -webkit-animation-name: line-show; 
    -webkit-animation-duration: 0.3s;
    animation-name: line-show;
    animation-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
  }

  .actionsRed{
    cursor: $pointer;
    color: #ff79b0;
  }

  .elemetComments{
    background: #E1E2E1;
    margin-top: 10px;
    border: 1px solid #E1E2E1;
    -webkit-border-radius: 7px;
    padding: 18px;
  }

  .textComen{
    padding-left: 30px;
  }

  .inputComments{
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #ffffff;
  }

  .cursorView{
    cursor: $pointer;
  }

  .cursorView:hover {
    text-decoration: underline;
  }
  
}


@-webkit-keyframes line-show {
  from {margin: 0px 100px;}
  to {margin: 0px;}
}

@keyframes line-show {
    from {margin: 0px 100px;}
    to {margin: 0px;}
}
  
@-webkit-keyframes p-show {
    from {color: white;}
    to {color: $black;}
}
  
@keyframes p-show {
    from {color: white;}
    to {color: $black;}
}
  
@-webkit-keyframes shadow-show {
    from {
        -webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;
        box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
        -webkit-box-shadow: $card-shadow;
        box-shadow: $card-shadow;
    }
}
  
@keyframes shadow-show {
    from {-webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;box-shadow: 0px 0px 0px 0px #e0e0e0;}
    to {-webkit-box-shadow: $card-shadow;box-shadow: $card-shadow;}
}
  